  body{
    background-color: #0d0d0d;
    color: #f5e6ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    font-size: 22px;
}

/* HEADER */
header{
    text-align: center;
    padding: 30px;
    background: linear-gradient(90deg, #2a003f, #4b0082);
}

header img{
    width: 250px;
    border-radius: 50%;
    border: 4px solid #ffd966;
    box-shadow: 0 0 20px #a66cff;
}

/* TITULO */
h1{
    color: #c77dff;
    text-align: center;
    font-size: 80px;
    letter-spacing: 3px;
    text-shadow: 0 0 10px #a66cff, 0 0 20px #4b0082;
}

/* SLOGAN */
.slogan{
    text-align: center;
    font-size: 24px;
    color: #ffd966;
}

/* MENU */
.enlaces{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #1a001f;
    padding: 15px;
}

.enlaces a{
    color: #ffd966;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.enlaces a:hover{
    color: #c77dff;
    transform: scale(1.1);
}

/* SECCIONES */
section{
    padding: 25px;
    margin: 25px;
    border-radius: 15px;
    background: linear-gradient(145deg, #1a001f, #2d0036);
    box-shadow: 0 0 15px rgba(167, 102, 255, 0.3);
}

/* TITULOS */
h2{
    font-size: 45px;
    color: #ffd966;
    text-align: center;
    text-shadow: 0 0 10px #a66cff;
}

h3{
    color: #c77dff;
    font-size: 28px;
}

/* IMAGENES */
img{
    border-radius: 20px;
    box-shadow: 0 0 15px #a66cff;
}

/* GALERIA */
.galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.galeria img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}

/* TABLA (CATALOGO) */
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 22px;
}

table th{
    background-color: #4b0082;
    color: #ffd966;
    font-size: 24px;
}

table td{
    background-color: #1a001f;
}

table td, table th{
    padding: 12px;
    text-align: center;
    border: 1px solid #a66cff;
}

/* FORMULARIO */
#formulario{
    text-align: center;
    font-size: 22px;
}

/* BOTON */
button{
    background-color: #ffd966;
    color: black;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

button:hover{
    background-color: #c77dff;
    color: white;
}

/* CONTACTOS (AQUI ESTA LO NUEVO ) */
#contactos nav{
    display: flex;
    justify-content: center;
    gap: 25px; /*  separación */
    margin-top: 15px;
}

#contactos a{
    background-color: #ffd966;
    color: black;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

#contactos a:hover{
    background-color: #c77dff;
    color: white;
    transform: scale(1.05);
}

/* FOOTER */
footer{
    text-align:center;
    padding: 15px;
    background-color: #1a001f;
    color: #ffd966;
}
